@media (min-width: 768px){
    .section2 .container {
        max-width: 520px;
    }
}

.section2 .row{
    border: 1px solid #CFCFCF;
}

.section2 .form-control{
    width:70%;
    margin:0 7%;
}
.section2 h5{
    color:#4D5057;
}