@media (min-width: 576px){
    .card-columns {
        margin: 5px 0;
    }
    .card-body{
        padding: 0.25rem;
    }
    .card-body h5{
        font-size: 0.60rem;
    }
    .card-title{
        margin-bottom: 0;
    }
    .card-text{
        margin-bottom: 0;
        font-size: 0.70rem;
    }
}
