@media (min-width: 768px){
    .container{
        max-width: 900px;
    }
}

.hiden{
    display: none;
}
.hiden1{
    display: block;
    
}
.section3{
    background-color: #00687A;
    padding: 15px 0;
}

.section3 h4{
    font-size: 25px;
    margin-top: .4rem;
    color: #F2F2F2;
}

.section4 .orders{
    background-color: #fff;
    border: 0.1px solid #4D5057;
    box-shadow: 2px 2px 2px 2px #6A8093;
    padding: 20px 5px;
}

.section4 .titleOrder{
    font-size: 40px;
}
.section4 .titleOrder p{
    margin: 10px 0;
}
.filaContent{
    margin: 0;
}

.filaContent .orderList{
    background-color: #6A8093;
    border:1px solid #6A8093;
    padding: 2px;
}

.listFood .food{
    display: inline-block;
    font-size: 13px;
    color:#fff;
}
.listFood  .name{
    width: 70%;
}
.listFood  .price{
    width: 15%;
}
.listFood  .icono{
    width: 15%;
}
.orderList .priceTotal{
    color:#fff; 
}
